.chatcontrol{
  float: left;
  width: 100%;

  .chatinput{
    width: 80%;
    float: left;
    border-radius: 0;
  }

  .sendbtn{
    width: 20%;
    float: left;
    border-radius: 0;
    text-transform: uppercase;
  }

  textarea {
    resize: none;
  }

  .fa-microphone {
    position: absolute;
    bottom: 5px;
    right: 35px;
    color: #2b98c6;
  }
}
