<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid h-100">
  <div class="row">
    <div class="col-md-3 p-0  chatform-container">
      <div class="chatform">
        <message-list [messages]="messages"></message-list>
        <message-form [message]="message" [messages]="messages"></message-form>
      </div>
    </div>
    <div class="col-md-7">
    </div>
    <div class="col-md-2 search-result">
      <h4>Im trained on these topics:</h4>
    </div>
  </div>
</div>